.ugly-user
    width: 50px

.achievement img
    width: 40px
    height: 35px

.newsfeed
    height: 300px
    background-color: olive

.progress
    position: relative

.progress-marker
    position: absolute

    &.left
        left: 5px

    &.right
        right: 5px
