<div class="media">
    <a class="pull-left">
        <img class="media-object" data-src="holder.js/64x64">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{otsikko}}</h4>
        <p>{{{teksti}}}</p>
    </div>
</div>
