<div class="alert alert-info" id="info-window">
Voit selata vaikuttaa kartalla näytettävään tietoon oikean reunan hallintatyökaluilla, kohteista on saatavilla lisäinformaatiota kohteen pinniä painettaessa. <br>
<br>
Rekisteröitynyt käyttäjä saa kokemuspisteen jokaisesta ensimmäisestä vierailukerrasta kohteella (Check-in). Rekisteröitynyt käyttäjä voi luoda myös uusia tapahtumia, jotka näytetään kartalla muille rekisteröityneille käyttäjille.
</div>
