<div class="alert alert-info" id="info-window">
Vastaa haasteeseen selvittämällä kuvan sijainnin ja kulkemalla sinne. Kun olet oikeassa kohteessa paina Vastaa -painiketta, jolloin sijaintisi tarkistetaan.<br>
<br>
Rekisteröitynyt käyttäjä voi kartuttaa omaa kokemustaan sekä suorittaa tehtäviä haasteiden avulla. <br>
<br>
Voit lisätä uusia haasteita Instagram sovelluksella. Kuva vaatii hashtagin #XPLOREPIRKANMAA ja sijaintitiedon. 
 jolloin omaa sijaintiasi verrataan kuvan sijaintiin.
</div>
