<div class="alert alert-info" id="info-window">
Voit lisätä uusia haasteita Instagram sovelluksella. Kuva vaatii hashtagin #XPLOREPIRKANMAA ja sijaintitiedon. Vastaa haasteeseen vastaa painikkeella,
 jolloin omaa sijaintiasi verrataan kuvan sijaintiin.
</div>
