<div id='photo-single'>
</div>
<div class="btn-group" id='buttons'>
  <button type="button" class="btn btn-default">Vastaa</button>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      JAA
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">FB</a></li>
      <li><a href="#">TWITTER</a></li>
    </ul>
  </div>
</div>
