<label for="tunnus">Käyttäjätunnus: </label>
<input type="text" id="tunnus"><br>
<label for "salasana">Salasana: </label>
<input type = "password" id="salasana"><br>
<a href="#profiili" class="btn">OK</a> <a href="#rekisteroityminen" class="btn">Luo tunnus</a>
