<div class="well">
<label for="tunnus"></label>
<input type="text" id="tunnus" placeholder="Käyttäjätunnus"><br>
<label for "salasana"></label>
<input type = "password" id="salasana" placeholder="Salasana"><br>
<a href="#profiili" class="btn btn-success">OK</a> <a href="#rekisteroityminen" class="btn btn-info">Luo tunnus</a>
</div>
