<div class="registration-window">
    <div class="well">
        <h2 id="info-header"></h2>
        <table class="table" id="info-container"></table>
        <button class="btn btn-success" id="check-in">Check-in</button>
        <button class="btn btn-info" id="return">Takaisin</button>
    </div>
</div>
