<div class="container">
    <div class="row-fluid">
        <div class="span8">...
            <img src="/images/user.svg" class="ugly-user">
            <h1>Käyttäjä</h1>
            <h2>Taso 1: 2 p.</h2>
            <div class="achievement">
                <img src="/images/1279581136.svg" alt="laheta_kuva">
                <img src="/images/addafriend.svg" alt="lisaa_kaveri">
                <img src="images/firstchallenge.svg" alt="suorita_ensimmainen_haaste">
            </div>
            <div class="newsfeed">
                <p>NEWSFEED: Tänne jotakin juttua sitten</p>
            </div>
        </div>
        <div class="span4">...
            <div>
                <h3>Omat haasteet</h3>
                <ul><li>1.</li>
                    <li>2.</li>
                </ul>
            </div>
            <div>
                <h3>Kaverit</h3>
                <ul><li>Kamu</li>
                    <li>Frendi</li>
                    <li>Bestis</li>
                </ul>
            </div>
            <div>
                <h3>Tulevat tapahtumat</h3>
                <ul><li>Höntsäilypesistä Ahvenisjärven kentällä</li>
                </ul>
            </div>
            <div>
                <h3>Viimeaikaiset muutokset pisteissä</h3>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


