<h1>Luo tunnus</h1>
<p>Kirjautumalla palvelun käyttäjäksi pääset ratkaisemaan haasteita ja keräämään kokemuspisteitä. Voit myös itse lähettää haasteesi muiden käyttäjien ratkaistavaksi. Saat kokemuspisteitä myös käymällä kartalla näkyvissä paikoissa.</p>
<form>
Käyttäjätunnus: <input type="text" name="tunnus" required><br>
Sähköpostiosoite: <input type="text" name="email" required><br>
Salasana: <input type="password" name="salasana" required><br>
Salasana uudestaan: <input type="password" name "salasananTarkistus" required><br>
<a href="#profiili" class="btn">Rekisteröidy</a>
</form>
