<div class="registration-window">
<div class="well">
    <h1>Luo tunnus</h1>
    <p>Kirjautumalla palvelun käyttäjäksi pääset ratkaisemaan haasteita ja keräämään kokemuspisteitä. Voit myös itse lähettää haasteesi muiden käyttäjien ratkaistavaksi.</p>
    <form>
        <div class="input-group input-group">
            <input type="text" class="form-control" placeholder="Käyttäjätunnus" required><br>
            <input type="password" class="form-control" placeholder="Salasana" required><br>
            <input type="password" class="form-control" placeholder="Salasana uudelleen" required><br>
            <input type="text" class="form-control" placeholder="Sähköposti" required><br>
        </div>
        <a href="#profiili" class="btn btn-success">Rekisteröidy</a>
    </form>
</div>
</div>
